In [7]:
import os

for root, dirs, files in os.walk('../'):
    for f in files:
        if 'churn' in f.lower() or 'bank' in f.lower():
            print(os.path.join(root, f))

../data\processed\churn_processed_sample.csv
../data\raw\Bank Customer Churn Prediction.csv

In [10]:
df=pd.read_csv('../data/raw/Bank Customer Churn Prediction.csv')
df.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,Num Of Products,Has Credit Card,Is Active Member,Estimated Salary,Churn
0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
from sklearn.model_selection import train_test_split
import pandas as pd

# Separate the features (X) and the target column (y)
X = df.drop('Churn', axis=1)   # 'Exited' = whether the customer left or stayed
y = df['Churn']

# Split the data: 80% train, 20% test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Combine back into dataframes for easy saving
train_data = pd.concat([X_train, y_train], axis=1)
test_data = pd.concat([X_test, y_test], axis=1)

# Save them inside data/processed folder
train_data.to_csv('../data/processed/train_processed.csv', index=False)
test_data.to_csv('../data/processed/test_processed.csv', index=False)

print("✅ Train and test processed CSV files created successfully!")

✅ Train and test processed CSV files created successfully!

In [13]:
# Cell 1: imports and load processed train/test data
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, f1_score,
    roc_auc_score, confusion_matrix, classification_report
)
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt
import seaborn as sns
import joblib
import os

%matplotlib inline
sns.set_context('talk')

# Load processed train/test data
train_path = '../data/processed/train_processed.csv'
test_path = '../data/processed/test_processed.csv'

train = pd.read_csv(train_path)
test  = pd.read_csv(test_path)

# Separate X and y
target = 'Churn'  # replace with your actual target column if different
X_train = train.drop(columns=[target])
y_train = train[target]
X_test  = test.drop(columns=[target])
y_test  = test[target]

print("✅ Train shape:", X_train.shape, "Test shape:", X_test.shape)
print("Train churn distribution:\n", y_train.value_counts(normalize=True))

✅ Train shape: (8000, 12) Test shape: (2000, 12)
Train churn distribution:
 Churn
0    0.7945
1    0.2055
Name: proportion, dtype: float64